*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: arial, verdana,helvetica,sans-serif;
    --font-destaque: ' Bebas Neus',cursive;

    }
    
    body{
        background-color: #e3e3a7;
      
    }

    header{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
          height: 130px;
          text-align: center;
          padding:20px;
          
       }

       header >h1{
        color: white;
        font-family: var(--font-destaque);
    font-size: 1em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px black;

    }
    header > p{
        font-family: var(--font-padrao);
        font-size: 1em;
        color: white;
        max-width: 600px;
        margin-right: 10px;
        margin-left: 10px;
        margin: auto;
        margin-bottom: 20px;
        text-shadow: 2px 2px 0px black;

    }
   
    header > input{

        width: 300px;
        height: 20px;
        border-radius: 4px;
        background-color: white;
    }

    header >a{
        background-color: white;
        border-radius: 4px;

        
    }

    nav {
        background-color: var(--cor5);
        padding: 4px;
    }
    nav > a{
        color: var(--cor3);
    padding: 5px; 
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    }

    nav >a:hover{
        background-color: #ebf2ef;
    }

    
    main> h2{
        font-family: Arial, Helvetica, sans-serif;
        text-align:center;
    }
    section{
    
        
            max-width: 350px;
            display: block;
            margin: auto;
            padding: 20px;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;

      }
     
      


    section a{
        background: #1a5c37;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    
        
    
    }

    section a:hover{
        background-color: rgb(85, 0, 255);
    }

    main{
        
        min-width: 350px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        background: white;
        box-shadow: 0px 0px 10px black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
 
    
       